* {
    margin: 5px
}

body {
    background-color: rgb(250, 145, 47);
}

.container {
    background-color: rgba(33, 33, 0, 1);
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    color: gold;
}

img {
    width: 500px;
    margin: 20px auto;
    height: auto;
    display: block;
}

.main.heading {
    margin: 40px auto;
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    color: gold;
    background-color: rgba(0, 202, 202, 0);
}

p {
    margin: 30px;
    box-sizing: border-box;
}

.heading {
    margin: 40px;
    color:rgb(0, 20, 1);
    background-color: rgba(0, 225, 255, 0.473);
    width: 170px;
}

.credits {
    color: rebeccapurple;
}