body {
    font-family: 'Georgia', Serif;
    background-color: honeydew;
}

.heading {
    background-color: #ADD8E6;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000080;
    box-sizing: border-box;
    text-align: center;
}

.container-links {
    width: 250px;
    margin: 48px auto;
    border: 2px solid #000080;
    font-weight: bold;
    padding: 20px;
    height: 280px;
    text-align: center;
    background-color: #ADD8E6;
}

.link {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}



